<div [hidden]="!submitted">
    <h3>Form successfully submitted!</h3>
    <p><strong>You're being redirected to cars list in 2 sec automatically ...</strong></p>
</div>
{{diagnostic}}
<div [hidden]="submitted">
    <br />
    <a class="btn btn-primary btn-sm" role="button" (click)="backtoList()">Back to List</a>
    <h6>Project Edit Form</h6>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Status</td>
                    <td>
                        <input 
                            readonly
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_status"
                            name="status"
                            #pt_detail_status="ngModel"
                        >
                    </td>
                   
                </tr>
                <tr>
                    <td>Priority
                        <select 
                            class="form-control"
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_priority"
                            name="priority"
                            #pt_detail_priority="ngModel"
                            required
                        >
                            <option *ngFor="let ft of priority" [value]="ft">{{ft}}</option>
                        </select>
                    </td>
                    <td>Assignee
                        <input 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_assignee"
                            name="assignee"
                            #pt_detail_assignee="ngModel"
                            required
                        >
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Task
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_task"
                            name="task"
                            #pt_detail_task="ngModel"
                            required
                        >
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Description
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_description"
                            name="description"
                            #pt_detail_description="ngModel"
                        >
                        </textarea>
                    </td>
                    <td>Deliverable
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_deliverable"
                            name="deliverable"
                            #pt_detail_deliverable="ngModel"
                        >
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Estimated Start 
                    <input
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_eststart"
                            ng2-datetime-picker
                            name="pt_detail_eststart"
                            #pt_detail_eststart="ngModel"
                            date-only="true"
                             />
                            
                    </td>
                
                    <td>Estimated End
                    
                        <input
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_estend"
                            name="pt_detail_estend"
                            #pt_detail_estend="ngModel"
                            ng2-datetime-picker
                            date-only="true" 
                            />
                            
                    </td>
                </tr>
                <tr>
                    <td>Actual Start 
                    <input
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_actstart"
                            ng2-datetime-picker
                            name="pt_detail_actstart"
                            #pt_detail_actstart="ngModel"
                            date-only="true"
                             />
                            
                    </td>
                
                    <td>Actual End
                    
                        <input
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_actend"
                            name="pt_detail_actend"
                            #pt_detail_actend="ngModel"
                            ng2-datetime-picker
                            date-only="true" 
                            />
                            
                    </td>
                </tr>
                <tr>
                    <td>
                        Progress
                    </td>
                    <td>
                        
                        <progressbar style="height:540px" [max]="100" [value]="mainDetail.selectedDetail.pt_detail_progress">
                            <span [ngStyle]="{'color':getProgressColor();, 'white-space':nowrap;}" >
                                {{mainDetail.selectedDetail.pt_detail_progress}} / {{100}}
                            </span>
                        </progressbar>
                    </td>
                </tr>
                <tr>
                    <td>Task On Hold?</td>

                    <td>Reason
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_Reason"
                            name="Reason"
                            #pt_detail_Reason="ngModel"
                        >
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid">
            Submit
        </button>  
    </form>
</div>
<hr />