<h3>Detail List Component</h3>

<div>
    <a (click)="mainDetail.refreshList()" role="button" data-toggle="tooltip" data-placement="bottom" title="Refresh" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-refresh" ></i>
    </a>
    project details of {{mainDetail.project.pt_project_name}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Status</th>
                <th>Task</th>
                <th>Assignee</th>
                <th>Progress</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of mainDetail.detailList">
                <td>{{detail.pt_detail_status}}</td>
                <td>{{detail.pt_detail_task}}</td>
                <td>{{detail.pt_detail_assignee}}</td>
                <td>
                    <progressbar style="height:540px" [max]="100" [value]="detail.pt_detail_progress">
                        <span [ngStyle]="{'color':getProgressColor(detail), 'white-space':'nowrap'}" >
                            {{detail.pt_detail_progress}} / {{100}}
                        </span>
                    </progressbar>
                </td>
                <td>
                    <a (click)="onSelect(detail)" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-edit" ></i>
                    </a>
               
                    <a (click)="delete(detail)" role="button" data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-trash" ></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn btn-primary btn-sm" role="button" (click)="newProject()">New Project</a>
</div>