<div [hidden]="!submitted">
    <h3>Form successfully submitted!</h3>
    <p><strong>You're being redirected to cars list in 2 sec automatically ...</strong></p>
</div>
{{diagnostic}}
<div [hidden]="submitted">
    <br />
    <a class="btn btn-primary btn-sm" role="button" (click)="backtoList()">Back to List</a>
    <h6>Project Edit Form</h6>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Status</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Priority
                        <input 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_priority"
                            name="priority"
                            #pt_detail_priority="ngModel"
                        >
                    </td>
                    <td>Assignee
                        <input 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_assignee"
                            name="assignee"
                            #pt_detail_assignee="ngModel"
                        >
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Task
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_task"
                            name="task"
                            #pt_detail_task="ngModel"
                        >
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Description
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_description"
                            name="description"
                            #pt_detail_description="ngModel"
                        >
                        </textarea>
                    </td>
                    <td>Deliverable
                        <textarea 
                            style="resize: vertical;"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_deliverable"
                            name="deliverable"
                            #pt_detail_deliverable="ngModel"
                        >
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Estimated Start</td> 
                    <td>Estimated End</td>
                </tr>
                <tr>
                    <td>
                        <input 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_eststart"
                            name="eststart"
                            [value]="mainDetail.selectedDetail.pt_detail_eststart | date:'yyyy-MM-dd'"
                            
                            #pt_detail_eststart="ngModel"
                        >
                    </td>
                        <!--<ng2-datepicker 
                            [options]="options" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_eststart"
                            name="eststart"
                            #pt_detail_eststart="ngModel"
                        ></ng2-datepicker>-->
                    <td>
                        <input 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_estend"
                            name="estend"
                            value="mainDetail.selectedDetail.pt_detail_estend"
                            #pt_detail_estend="ngModel"
                        >
                      
                        <!--<ng2-datepicker 
                            [options]="options" 
                            [(ngModel)]="mainDetail.selectedDetail.pt_detail_estend"
                            name="estend"
                            #pt_detail_estend="ngModel"
                        ></ng2-datepicker>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid">
            Submit
        </button>  
    </form>
</div>
<hr />