<div [hidden]="!submitted">
    <h3>Form successfully submitted!</h3>
</div>
<div [hidden]="submitted">
    <br />
    <a class="btn btn-primary btn-sm" role="button" (click)="backtoList()">Back to List</a>
    <h6>Project Edit Form</h6>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group" [hidden]="!submitted">
            <label for="projectid">Project id</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="mainProject.selectedProject.pt_project_id"
                   name="projectid"
                   #pt_project_id="ngModel"
                   required>
        </div>
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="mainProject.selectedProject.pt_project_name"
                name="projectName"
                #pt_project_name="ngModel"
                required 
            >
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="mainProject.selectedProject.pt_project_desc"
                name="description"
                #pt_project_desc="ngModel"
            >
        </div>
        
        <div class="form-group">
            <label for="technology">Technology</label>
            <select 
                class="form-control" 
                [(ngModel)]="mainProject.selectedProject.pt_project_tech"
                name="technology"
                #pt_project_tech="ngModel"
                required 
            >
                <option *ngFor="let ft of technology" [value]="ft">{{ft}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="mainProject.selectedProject.pt_project_owner"
                name="owner"
                #pt_project_owner="ngModel"
                required 
            >
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid">
            Submit
        </button>  
    </form>
</div>
<hr />